/* src/index.css */
:root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100% !important;
  max-width: none !important; /* Ini yang biasanya bikin nanggung */
  margin: 0 !important;
  padding: 0 !important;
  text-align: stretch !important;
}
